<header class="container">
  <div class="heading">
    <h1>Make Me Bootsy, Baby!</h1>
  </div>
  <div class="row navbar">
    <div class="one column"></div>
    <div class="selected nav-item two columns"><a>Home</a></div>
    <div class="nav-item two columns"><a>About</a></div>
    <div class="nav-item two columns"><a>Todos</a></div>
  </div>
  <br>
</header>
